
<div class="container">
    <div class="jumbotron">
        <h1>My blog</h1>
        <p>You can read about me.</p>
        <%= link_to "About Me" , about_path, class: "btn btn-secondary" %>
        <%= link_to "Packages" , posts_path, class: "btn btn-primary" %>
    </div>
</div>
